{% block title %}
    {{ 'views.index.list'|trans({'%entity%': 'Pottery'}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block page %}

<div class="row-fluid">
    <div class="span12">
        {{ mopa_bootstrap_navbar('vocsmenupottery') }}
    </div>
    <div class="span12">
        -- stats
    </div>
</div>

{% endblock %}