
.glyphicon-picture:before { content: '\e800'; } /* '' */
.glyphicon-globe-inv:before { content: '\e816'; } /* '' */
.glyphicon-fork:before { content: '\e818'; } /* '' */
.glyphicon-beaker:before { content: '\e802'; } /* '' */
.glyphicon-sitemap:before { content: '\e804'; } /* '' */
.glyphicon-beer:before { content: '\e803'; } /* '' */
.glyphicon-monitor:before { content: '\e80a'; } /* '' */
.glyphicon-mobile:before { content: '\e80b'; } /* '' */
.glyphicon-flow-cascade:before { content: '\e808'; } /* '' */
.glyphicon-flow-branch:before { content: '\e807'; } /* '' */
.glyphicon-flow-tree:before { content: '\e805'; } /* '' */
.glyphicon-flow-line:before { content: '\e806'; } /* '' */
.glyphicon-globe:before { content: '\e801'; } /* '' */
.glyphicon-cc:before { content: '\e80c'; } /* '' */
.glyphicon-picture-outline:before { content: '\e80d'; } /* '' */
.glyphicon-picture-1:before { content: '\e80e'; } /* '' */
.glyphicon-desktop:before { content: '\e80f'; } /* '' */
.glyphicon-laptop:before { content: '\e810'; } /* '' */
.glyphicon-tablet:before { content: '\e811'; } /* '' */
.glyphicon-mobile-1:before { content: '\e812'; } /* '' */
.glyphicon-flow-split:before { content: '\e813'; } /* '' */
.glyphicon-flow-merge:before { content: '\e814'; } /* '' */
.glyphicon-flow-parallel-1:before { content: '\e815'; } /* '' */
.glyphicon-globe-1:before { content: '\e817'; } /* '' */
.glyphicon-flow-parallel:before { content: '\e809'; } /* '' */