
.kdig-picture:before { content: '\e800'; } /* '' */
.kdig-globe-inv:before { content: '\e816'; } /* '' */
.kdig-fork:before { content: '\e818'; } /* '' */
.kdig-beaker:before { content: '\e802'; } /* '' */
.kdig-sitemap:before { content: '\e804'; } /* '' */
.kdig-beer:before { content: '\e803'; } /* '' */
.kdig-monitor:before { content: '\e80a'; } /* '' */
.kdig-mobile:before { content: '\e80b'; } /* '' */
.kdig-flow-cascade:before { content: '\e808'; } /* '' */
.kdig-flow-branch:before { content: '\e807'; } /* '' */
.kdig-flow-tree:before { content: '\e805'; } /* '' */
.kdig-flow-line:before { content: '\e806'; } /* '' */
.kdig-globe:before { content: '\e801'; } /* '' */
.kdig-cc:before { content: '\e80c'; } /* '' */
.kdig-picture-outline:before { content: '\e80d'; } /* '' */
.kdig-picture-1:before { content: '\e80e'; } /* '' */
.kdig-desktop:before { content: '\e80f'; } /* '' */
.kdig-laptop:before { content: '\e810'; } /* '' */
.kdig-tablet:before { content: '\e811'; } /* '' */
.kdig-mobile-1:before { content: '\e812'; } /* '' */
.kdig-flow-split:before { content: '\e813'; } /* '' */
.kdig-flow-merge:before { content: '\e814'; } /* '' */
.kdig-flow-parallel-1:before { content: '\e815'; } /* '' */
.kdig-globe-1:before { content: '\e817'; } /* '' */
.kdig-flow-parallel:before { content: '\e809'; } /* '' */