{% block navbar %}
<div class=" archaeological 
     {{ (navbar.hasOption('inverse') and  navbar.getOption('inverse')) ? ' navbar-inverse' : '' }}
     {{ (navbar.hasOption('fixedTop') and  navbar.getOption('fixedTop')) ? ' navbar-fixed-top' : '' }}
     {{ (navbar.hasOption('staticTop') and  navbar.getOption('staticTop')) ? ' navbar-static-top' : '' }}"
     data-spy="affix" data-offset-top="70"
     >
    {{ navbar.hasMenu('menu') ? 
        knp_menu_render(navbar.getMenu('menu'), {
            'currentClass': 'active', 
            'ancestorClass': 'active', 
            'allow_safe_labels': 'true'}) 
        : 
        '' }}
</div>
{% endblock %}
