.archaeological {
    top: 50px !important;
    bottom: 0 !important;
    left: auto !important;
    right: 10px !important;
    margin: auto !important;
    position: absolute;
        a {
            margin: 0px !important;
            padding: 0px !important;
            &:hover {
                margin: 0px !important;
                padding: 0px !important;
            }
        }
}