.archaeological {
    top: 50px !important;
    bottom: 0 !important;
    left: auto !important;
    right: 10px !important;
    margin: auto !important;
    position: fixed;
        a {
            margin: 0px !important;
            padding: 0px !important;
            &:hover {
                margin: 0px !important;
                padding: 0px !important;
            }
        }
}
.leftMenu {
    position:relative;
    float:right;
    margin-right: 67px;
    margin-top: -32px;
}
form .control-label {
    display: block;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 40px;
    color: #333333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}
.required {
    color: red !important;
}

div.savestatus{ /* Style for the "Saving Form Contents" DIV that is shown at the top of the form */
    width:200px;
    padding:2px 5px;
    border:1px solid gray;
    background: #fff6e5;
    -webkit-box-shadow: 0 0 8px #818181;
    box-shadow: 0 0 8px #818181;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
    color: red;
    position: fixed;
    top: 10px;
    }

form#feedbackform div{ /*CSS used by demo form*/
    margin-bottom:9px;
}

.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;
} 