imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: bundles/mopa_bootstrap.yml }
    - { resource: bundles/knp_menu.yml }
    - { resource: bundles/jms_di_extra.yml }
    - { resource: bundles/jms_security_extra.yml }
    - { resource: bundles/doctrine_extensions.yml }
#    - { resource: bundles/fos_message.yml }
    - { resource: bundles/fos_user.yml }
    - { resource: bundles/oneup_uploader.yml }
    - { resource: bundles/genemu_form.yml }
    - { resource: bundles/liip_theme.yml }
    ## admin 
    - { resource: bundles/admin/sonata_block.yml }
    - { resource: bundles/admin/sonata_cache.yml }
    - { resource: bundles/admin/sonata_media.yml }
    - { resource: bundles/admin/sonata_admin.yml }
    - { resource: bundles/admin/sonata_user.yml }
    - { resource: '@KdigArchaeologicalBundle/Resources/config/admin.yml' }
    
framework:
    #esi:             ~
    #translator:      { fallback: %locale% }
    secret:          %secret%
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:            ~
    csrf_protection: ~
    validation:      { enable_annotations: true }
    templating:
        engines: ['twig']
        #assets_version: SomeVersionScheme
    default_locale:  "%locale%"
    trusted_proxies: ~
    session:         ~
    fragments:       ~
    translator:      ~

# Twig Configuration
twig:
    debug:            %kernel.debug%
    strict_variables: %kernel.debug%
    form:
        resources:
          - KdigTemplateBundle:Default:Form/fields.html.twig
#            - LexikFormFilterBundle:Form:form_div_layout.html.twig

# Assetic Configuration
assetic:
    debug:          %kernel.debug%
    use_controller: true
    bundles:        [ KdigTemplateBundle, KdigOrientBundle, KdigArchaeologicalBundle ]
    #java: /usr/bin/java
    filters:
        cssrewrite: ~
        less:
            node: /usr/bin/node
            node_paths: [/usr/local/lib/node_modules]
            apply_to: "\.less$"
        load_paths: 
          - "%kernel.root_dir%/../vendor/mopa/boostrap-bundle/Mopa/Bundle/BootstrapBundle/Resource/bootstrap"
          - "%kernel.root_dir%/../src/Kdig"
#        lessphp:
#            apply_to: "\.less$"
#            # Formatter options: compressed, lessjs, classic
#            formatter: "compressed"
#            preserve_comments: false
#            file: %kernel.root_dir%/../vendor/leafo/lessphp/lessc.inc.php
#            presets:
#                my_variable: "#000"
# Doctrine Configuration
doctrine:
    dbal:
        driver:   %database_driver%
        host:     %database_host%
        port:     %database_port%
        dbname:   %database_name%
        user:     %database_user%
        password: %database_password%
        charset:  UTF8
        types:
            json: Sonata\Doctrine\Types\JsonType
        # if using pdo_sqlite as your database driver, add the path in parameters.yml
        # e.g. database_path: %kernel.root_dir%/data/data.db3
        # path:     %database_path%

    orm:
        auto_generate_proxy_classes: %kernel.debug%
#        auto_mapping: true
        entity_managers:
            default:
                dql:
                    string_functions:
                        string_agg: 'Kdig\ArchaeologicalBundle\DQL\StringAgg'
                        
                auto_mapping:         true
                mappings:
                    SonataMediaBundle: ~
                    translatable:
                        type: annotation
                        alias: Gedmo
                        prefix: Gedmo\Translatable\Entity
                        # make sure vendor library location is correct
                        dir: "%kernel.root_dir%/../vendor/gedmo/doctrine-extensions/lib/Gedmo/Translatable/Entity"
                    loggable:
                        type: annotation
                        alias: Gedmo
                        prefix: Gedmo\Loggable\Entity
                        dir: "%kernel.root_dir%/../vendor/gedmo/doctrine-extensions/lib/Gedmo/Loggable/Entity"
                    tree:
                        type: annotation
                        alias: Gedmo
                        prefix: Gedmo\Tree\Entity
                        dir: "%kernel.root_dir%/../vendor/gedmo/doctrine-extensions/lib/Gedmo/Tree/Entity"

# Swiftmailer Configuration
swiftmailer:
    transport: %mailer_transport%
    host:      %mailer_host%
    username:  %mailer_user%
    password:  %mailer_password%
    spool:     { type: memory }

knp_gaufrette:
    adapters:
        foo:
            local:
                directory: /uploads

