.control-group {
    legend {
        cursor: pointer;
        .selected {
            display: inline !important;
            color: red;
            font-size: 90%;
        }
    }
}
/*.group {
    .control-group {
        width: 100% !important;
        float: left !important;
        .control-label {
            font-weight: bold;
            width: 100% !important;
            float: left !important;
        }
        .controls {
            position: absolute;
            z-index: 999 !important;
            float: left !important;
            background-color: white !important;
            width: inherit !important;
            .selection {
                .radio {
                    width: 100% !important;
                    float: left !important;
                    margin: 1px;
                }
            }
        }
    }
    .create-button {
        
    }
}
.collection {
    .control-group{
        width: 100% !important;
        float: left !important;
        .control-label {
            font-weight: bold;
        }
        .controls {
            position: static !important;
            float: left !important;
            background-color: white !important;
            .collection-item {
                margin-bottom: 9px;
                float: left;
                width: 100%;
            }
            .selection {
                .radio {
                    float: left !important;
                }
            }
        }
    }
}*/
