.group {
    .control-group{
        width: inherit !important;
        float: left !important;
        .control-label {
            font-weight: bold;
        }
        .controls {
            position: absolute;
            z-index: 999 !important;
            float: left !important;
            background-color: white !important;
            width: inherit !important;
            .selection {
                .radio {
                    width: 100% !important;
                    float: left !important;
                }
            }
        }
    }
}
.collection {
    .control-group{
        width: inherit !important;
        float: left !important;
        .control-label {
            font-weight: bold;
        }
        .controls {
            position: static !important;
            float: left !important;
            background-color: white !important;
            .selection {
                .radio {
                    float: left !important;
                }
            }
        }
    }
}
