.group {
    .control-group{
        width: 100%;
        float: left;
    }
}

        .control-label {
            
        }
        .control {
            position: absolute;
            z-index: 999;
            float: left;
            display: none;
            background-color: white;
            float: left;
            .selection {
                .radio {
                    width: 100%;
                    float: left;
                }
            }
        }