{% extends '::base.html.twig' %}
{% block content_content %}
    <script type="text/javascript">
        {{ chart(chart) }}
    </script>

    <div id="linechart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
{% endblock %}