{% extends app.request.xmlHttpRequest ? kdig.templates.full : kdig.templates.partial %}
{% block content %}
<div class="col-sm-1 left-menu">
    {% block content_left_menu %}
        {{ mopa_bootstrap_menu('leftmenu') }}
        {{ mopa_bootstrap_menu('vocsmenupottery') }}
    {% endblock content_left_menu %}
</div>
<div class="col-sm-11 center">
    {% block page_header %}
    <div class="page-header col-sm-12">
        {{ apy_breadcrumb_trail_render() }}
    </div>
    {% endblock page_header %}
    {% block content_content %}
    <div class="col-sm-12 grid-parent-block">{{ grid(grid, 'KdigTemplateBundle:Default:Grid/blocks.html.twig') }}</div>
    {% endblock content_content %}
</div>

<script type="text/javascript">
$(document).ready( function () {
    $(".grid-filter-select-query-from").select2({
        placeholder: "Select data"
    });
});
</script>
{% endblock content %}
