parameters:
    kdig_orient.admin.group.name: 'Kdig Orient'

services:  
   ## admin menu       
  kdig.orient.admin.vocmachine:
      class: Kdig\ArchaeologicalBundle\Admin\VocMachineAdmin
      tags:
        - { name: sonata.admin, manager_type: orm, group: '%kdig_orient.admin.group.name%', label: Voc Photo Machine }
      arguments: [null, Kdig\OrientBundle\Entity\VocMachineType, KdigOrientBundle:VocMachineTypeAdmin]
      