sonata_media:
    db_driver: doctrine_orm
    class:
        media:              Kdig\MediaBundle\Entity\Media
        gallery:            Kdig\MediaBundle\Entity\Gallery
        gallery_has_media:  Kdig\MediaBundle\Entity\GalleryHasMedia

    default_context: default
    contexts:
        default:  # the default context is mandatory
            download:
                strategy: sonata.media.security.user_strategy         # ROLE_USER
                #strategy: sonata.media.security.superadmin_strategy  # ROLE_SUPER_ADMIN or ROLE_ADMIN
                #strategy: sonata.media.security.public_strategy      # no restriction, files are public
                #strategy: sonata.media.security.forbidden_strategy   # not possible to retrieve the original file
                #strategy: sonata.media.security.connected_strategy   # IS_AUTHENTICATED_FULLY or IS_AUTHENTICATED_REMEMBERED
                mode: http              # use php to send the file
                #mode: X-Sendfile        # use the X-Sendfile flag (Apache + mod_xsendfile : https://tn123.org/mod_xsendfile/)
                #mode: X-Accel-Redirect  # use the X-Accel-Redirect flag (Nginx : http://wiki.nginx.org/X-accel)
            providers:
                - sonata.media.provider.dailymotion
                - sonata.media.provider.youtube
                - sonata.media.provider.image
                - sonata.media.provider.file

            formats:
                small: { width: 100 , quality: 70}
                #big:   { width: 500 , quality: 70}
                #cinema:     { width: 1850 , quality: 768}
                #grandmatv:  { width: 640 , quality: 480}
                
                
    cdn:
        server:
            path: %kernel.http_host%/../project/media
            
        #panther:
        #    path:       http://domain.pantherportal.com/uploads/media
        #    site_id:
        #    password:
        #    username:

        #fallback:
        #    master:     sonata.media.cdn.panther
        #    fallback:   sonata.media.cdn.server     
                
    filesystem:
        local:
            directory:  %kernel.root_dir%/../project/media
            create:     true

    providers:
        file:
            resizer:    false
            filesystem: sonata.media.filesystem.local
            cdn:        sonata.media.cdn.server
            generator:  sonata.media.generator.default
            thumbnail:  sonata.media.thumbnail.format

        image:
            resizer:    sonata.media.resizer.simple # sonata.media.resizer.square
            filesystem: sonata.media.filesystem.local
            cdn:        sonata.media.cdn.server
            generator:  sonata.media.generator.default
            thumbnail:  sonata.media.thumbnail.format
        
        youtube:
            resizer:    sonata.media.resizer.simple
            filesystem: sonata.media.filesystem.local
            cdn:        sonata.media.cdn.server
            generator:  sonata.media.generator.default
            thumbnail:  sonata.media.thumbnail.format

        dailymotion:
            resizer:    sonata.media.resizer.simple
            filesystem: sonata.media.filesystem.local
            cdn:        sonata.media.cdn.server
            generator:  sonata.media.generator.default
            thumbnail:  sonata.media.thumbnail.format
                       
        vimeo:
            resizer:    sonata.media.resizer.simple
            filesystem: sonata.media.filesystem.local
            cdn:        sonata.media.cdn.server
            generator:  sonata.media.generator.default
            thumbnail:  sonata.media.thumbnail.format       