.archaeological {
  top: 50px !important;
  bottom: 0 !important;
  left: auto !important;
  right: 10px !important;
  margin: auto !important;
  position: fixed;
}
.archaeological a {
  margin: 0px !important;
  padding: 0px !important;
}
.archaeological a:hover {
  margin: 0px !important;
  padding: 0px !important;
}
.leftMenu {
  position: relative;
  float: right;
  margin-right: 67px;
  margin-top: -32px;
}
