parameters:
    kdig_template.navbar_menu_builder.class: Kdig\TemplateBundle\Menu\NavbarMenuBuilder

services:
    kdig.template.navbar:
        class: '%mopa_bootstrap.navbar.generic%'
        scope: request
        arguments:
            - { leftmenu: '@kdig.template.navbar_main_menu=', rightmenu: '@kdig.template.navbar_right_menu=' }
            - {}
            - { title: "KdigProject", titleRoute: "mopa_bootstrap_welcome", fixedTop: false, isFluid: false }
        tags:
            - { name: mopa_bootstrap.navbar, alias: frontendNavbar }

    kdig.template.navbar_menu_builder:
        class: %kdig_template.navbar_menu_builder.class%
        scope: request
        arguments: [ '@knp_menu.factory', '@security.context' ]

    kdig.template.navbar_main_menu:
        class: Knp\Menu\MenuItem
        factory_service: kdig.template.navbar_menu_builder
        factory_method: createMainMenu
        arguments: [ '@request' ]
        scope: request
        tags:
            - { name: knp_menu.menu, alias: main }

    kdig.template.navbar_right_menu:
        class: Knp\Menu\MenuItem
        factory_service: kdig.template.navbar_menu_builder
        factory_method: createRightSideDropdownMenu
        arguments: [ '@request' ]
        scope: request
        tags:
            - { name: knp_menu.menu, alias: main }