parameters:
    kdig_template.navbar_menu_builder.class: 'Kdig\TemplateBundle\Menu\NavbarMenuBuilder'
    kdig_template.template_extension.class: 'Kdig\TemplateBundle\Twig\TemplateExtension'

services:
## twig template
    template.twig.template_extension:
        class: '%kdig_template.template_extension.class%'
        tags:
            - { name: twig.extension }

## horizontal navbar
    kdig.template.navbar:
        class: '%mopa_bootstrap.navbar.generic%'
        scope: request
        arguments:
            - { leftmenu: '@kdig.template.navbar_main_menu=', groupmenu: '@kdig.template.navbar_selectgroup_menu=', rightmenu: '@kdig.template.navbar_user_menu=' }
            - {}
            - { title: "KdigProject", titleRoute: "default_index", fixedTop: false, isFluid: false, inverse: false }
        tags:
            - { name: mopa_bootstrap.navbar, alias: ArchaeologicalfrontendNavbar }

## vertical nav bar
    kdig.archaeological.verticalnavbar:
        class: %mopa_bootstrap.navbar.generic%
        arguments:
            # first argument: a named array of menues:
            - { menu: '@kdig.template.navbar_archaeological_menu=' }
            - {}
            # third argument: a named array of options
            - { fixedTop: false, isFluid: true, template: 'KdigTemplateBundle:Default:Navbar/archaeologicalnav.html.twig' }
        tags:
            # The alias is used to retrieve the navbar in templates
            - { name: mopa_bootstrap.navbar, alias: archaeologicalsubnav }
            
## reference class            
    kdig.template.navbar_menu_builder:
        class: %kdig_template.navbar_menu_builder.class%
        scope: request
        arguments: [ '@knp_menu.factory', '@security.context' ]

## Menus
    kdig.template.navbar_main_menu:
        class: Knp\Menu\MenuItem
        factory_service: kdig.template.navbar_menu_builder
        factory_method: createMainMenu
        arguments: [ '@request' ]
        scope: request
        tags:
            - { name: knp_menu.menu, alias: main }

    kdig.template.navbar_user_menu:
        class: Knp\Menu\MenuItem
        factory_service: kdig.template.navbar_menu_builder
        factory_method: createUserSideDropdownMenu
        arguments: [ '@request' ]
        scope: request
        tags:
            - { name: knp_menu.menu, alias: user }
            
    kdig.template.navbar_selectgroup_menu:
        class: Knp\Menu\MenuItem
        factory_service: kdig.template.navbar_menu_builder
        factory_method: createSelectGroupMenu
        arguments: [ '@request' ]
        scope: request
        tags:
            - { name: knp_menu.menu, alias: selectgroup }
            
    kdig.template.navbar_archaeological_menu:
        class: Knp\Menu\MenuItem
        factory_service: kdig.template.navbar_menu_builder
        factory_method: createArchaeologicalMenu
        arguments: [ '@request' ]
        scope: request
        tags:
            - { name: knp_menu.menu, alias: archaeologicalmenu }

    grid.column.extended.text.column:
        class: Kdig\TemplateBundle\Grid\Column\ExtendedTextColumn
        tags:
            - { name: grid.column.extension }
            