{% block navbar %}
<div class="on-side-left 
    {{ (navbar.hasOption('fixedTop') and navbar.getOption('fixedTop')) 
        ? 'subnavbar-fixed-top' 
        : '' }}"
 >
    {{ navbar.getMenu('menu') 
        ? knp_menu_render(navbar.getMenu('menu'), {
            'currentClass': 'active',
            'ancestorClass': 'active',
            'allow_safe_labels': true}) 
        : '' }}
</div>

<script type="text/javascript">
    $(document).ready( function () {
        $(".on-side-left a").on("click", function(event){ 
            event.preventDefault();
            $.address.value($(this).attr('href'));  
            return false;
        });
    });
</script>
{% endblock %}
