parameters:
#    kdig_media.example.class: Kdig\MediaBundle\Example

services:
  ## post pre update event after persist object
  media.upload_listener:
      class: 'Kdig\MediaBundle\EventListener\UploadListener'
      arguments: [ '@service_container' ]
      tags:
          - { name: container.event_listener, event: oneup_uploader.post_persist, method: onUpload }
          